.filters {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    background: #f8f8f8;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.filterBlock {
    display: flex;
    gap: 15px;
}


.filterGroup {
    position: relative;
}

.filterTitle {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px;
    background: #eaeaea;
    border-radius: 5px;
    transition: background 0.3s;
    white-space: nowrap;
}

.filterTitle:hover {
    background: #d5d5d5;
}

.filterOptions {
    list-style: none;
    padding: 0;
    margin-top: 0;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    top: 100%;
    white-space: nowrap;
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    /* Начальное состояние скрытое */
    opacity: 0;
    pointer-events: none;
    transform: translateY(15px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* При наведении на .filterGroup */
.filterGroup:hover .filterOptions {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    padding: 5px;
}

/* Скрытие при уходе */
.filterGroup:not(:hover) .filterOptions {
    opacity: 0;
    pointer-events: none;
    transform: translateY(15px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.filterOptions::-webkit-scrollbar {
    display: none;
}

.filterOptions label {
    display: flex;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    gap: 3px;
    align-items: center;
}

.blockCard {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr)); /* Гибкость сетки */
    gap: 10px;
    justify-content: center;
}

.card {
    width: 100%;
    max-width: 296px;
    display: flex;
    flex-direction: column;
}

.cardImg {
    width: 100%;
    aspect-ratio: 1; /* Поддерживает квадратное изображение */
}

.cardImg img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Гарантирует, что изображение заполняет контейнер без искажений */
}


.cardTitle {

}

.cardDescription {

}

.cardMore {

}